USE [QUANLYNHANSU]
GO
/****** Object:  Table [dbo].[TB_BANGCONG]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_BANGCONG](
	[MABANGCONG] [int] IDENTITY(1,1) NOT NULL,
	[NGAYGIOVAO] [datetime] NULL,
	[NGAYGIORA] [datetime] NULL,
	[MANHANVIEN] [int] NULL,
	[MALOAICONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABANGCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_BAOHIEM]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_BAOHIEM](
	[MABAOHIEM] [int] IDENTITY(1,1) NOT NULL,
	[SOBAOHIEM] [nvarchar](20) NULL,
	[NGAYCAP] [datetime] NULL,
	[NOICAP] [nvarchar](500) NULL,
	[NOIKHAMBENH] [nvarchar](500) NULL,
	[MANHANVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAOHIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_BOPHAN]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_BOPHAN](
	[MABOPHAN] [int] IDENTITY(1,1) NOT NULL,
	[TENBOPHAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABOPHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CHUCVU]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CHUCVU](
	[MACHUCVU] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_HOPDONG]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_HOPDONG](
	[MAHOPDONG] [int] IDENTITY(1,1) NOT NULL,
	[SOHOPDONG] [varchar](20) NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[NGAYKY] [datetime] NULL,
	[LANKY] [int] NULL,
	[THOIHAN] [datetime] NULL,
	[HESOLUONG] [float] NULL,
	[MANHANVIEN] [int] NULL,
	[NOIDUNG] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_KHENTHUONGKYLUAT]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_KHENTHUONGKYLUAT](
	[MAKHENTHUONGKYLUAT] [int] IDENTITY(1,1) NOT NULL,
	[LOAI] [varchar](20) NULL,
	[NGAY] [datetime] NULL,
	[MANHANVIEN] [int] NULL,
	[SOTIEN] [float] NULL,
	[LYDO] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHENTHUONGKYLUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_LOAICA]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LOAICA](
	[MALOAICA] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICA] [nvarchar](50) NULL,
	[HESO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_LOAICONG]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LOAICONG](
	[MALOAICONG] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICONG] [nvarchar](50) NULL,
	[HESO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAICONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_NGUOIDUNG]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NGUOIDUNG](
	[MANGUOIDUNG] [int] IDENTITY(1,1) NOT NULL,
	[TENNGUOIDUNG] [varchar](20) NULL,
	[MATKHAU] [varchar](50) NULL,
	[HOVATEN] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SODIENTHOAI] [varchar](20) NULL,
	[HINHANH] [image] NULL,
	[TRANGTHAI] [bit] NULL,
	[TAOBOI] [varchar](20) NULL,
	[NGAYTAO] [datetime] NULL,
	[CAPNHATBOI] [varchar](20) NULL,
	[NGAYCAPNHAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUOIDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_NHANVIEN]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[HOVATEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](20) NULL,
	[NGAYSINH] [datetime] NULL,
	[SODIENTHOAI] [varchar](50) NULL,
	[SOCANCUOC] [varchar](50) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[HINHANH] [image] NULL,
	[MAPHONGBAN] [int] NULL,
	[MABOPHAN] [int] NULL,
	[MACHUCVU] [int] NULL,
	[MATRINHDO] [int] NULL,
	[LUONG] [float] NULL,
	[DATHOIVIEC] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_NHANVIEN_DIEUCHUYEN]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NHANVIEN_DIEUCHUYEN](
	[SOQD] [nvarchar](50) NOT NULL,
	[NGAY] [datetime] NULL,
	[MANV] [int] NULL,
	[MAPB] [int] NULL,
	[MAPB2] [int] NULL,
	[LYDO] [nvarchar](300) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
 CONSTRAINT [PK_tb_NHANVIEN_DIEUCHUYEN] PRIMARY KEY CLUSTERED 
(
	[SOQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_NHANVIEN_THOIVIEC]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NHANVIEN_THOIVIEC](
	[SOQD] [nvarchar](50) NOT NULL,
	[MANV] [int] NULL,
	[NGAYNOPDON] [datetime] NULL,
	[NGAYNGHI] [datetime] NULL,
	[LYDO] [nvarchar](200) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_TB_NHANVIEN_THOIVIEC] PRIMARY KEY CLUSTERED 
(
	[SOQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_NHANVIENPHUCAP]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NHANVIENPHUCAP](
	[MANHANVIENPHUCAP] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[MAPHUCAP] [int] NULL,
	[NGAY] [datetime] NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[SOTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIENPHUCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PHONGBAN]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PHONGBAN](
	[MAPHONGBAN] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONGBAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONGBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PHUCAP]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PHUCAP](
	[MAPHUCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENPHUCAP] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHUCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TANGCA]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TANGCA](
	[MATANGCA] [int] IDENTITY(1,1) NOT NULL,
	[NGAYGIOBATDAUCA] [datetime] NULL,
	[NGAYGIOKETTHUCCA] [datetime] NULL,
	[MALOAICA] [int] NULL,
	[MANHANVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATANGCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TRINHDO]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TRINHDO](
	[MATRINHDO] [int] IDENTITY(1,1) NOT NULL,
	[TENTRINHDO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATRINHDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_UNGLUONG]    Script Date: 12/22/2022 4:35:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_UNGLUONG](
	[MAUNGLUONG] [int] IDENTITY(1,1) NOT NULL,
	[NGAYUNGLUONG] [datetime] NULL,
	[SOTIEN] [float] NULL,
	[TRANGTHAI] [varchar](20) NULL,
	[MANHANVIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAUNGLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCONG_LOAICONG] FOREIGN KEY([MALOAICONG])
REFERENCES [dbo].[TB_LOAICONG] ([MALOAICONG])
GO
ALTER TABLE [dbo].[TB_BANGCONG] CHECK CONSTRAINT [FK_BANGCONG_LOAICONG]
GO
ALTER TABLE [dbo].[TB_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCONG_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TB_NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TB_BANGCONG] CHECK CONSTRAINT [FK_BANGCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[TB_BAOHIEM]  WITH CHECK ADD  CONSTRAINT [FK_BAOHIEM_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TB_NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TB_BAOHIEM] CHECK CONSTRAINT [FK_BAOHIEM_NHANVIEN]
GO
ALTER TABLE [dbo].[TB_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TB_NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TB_HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_NHANVIEN]
GO
ALTER TABLE [dbo].[TB_KHENTHUONGKYLUAT]  WITH CHECK ADD  CONSTRAINT [FK_KHENTHUONGKYLUATNHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TB_NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TB_KHENTHUONGKYLUAT] CHECK CONSTRAINT [FK_KHENTHUONGKYLUATNHANVIEN]
GO
ALTER TABLE [dbo].[TB_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([MABOPHAN])
REFERENCES [dbo].[TB_BOPHAN] ([MABOPHAN])
GO
ALTER TABLE [dbo].[TB_NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[TB_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[TB_CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[TB_NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[TB_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([MAPHONGBAN])
REFERENCES [dbo].[TB_PHONGBAN] ([MAPHONGBAN])
GO
ALTER TABLE [dbo].[TB_NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[TB_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TRINHDO] FOREIGN KEY([MATRINHDO])
REFERENCES [dbo].[TB_TRINHDO] ([MATRINHDO])
GO
ALTER TABLE [dbo].[TB_NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TRINHDO]
GO
ALTER TABLE [dbo].[TB_NHANVIENPHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIENPHUCAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TB_NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TB_NHANVIENPHUCAP] CHECK CONSTRAINT [FK_NHANVIENPHUCAP_NHANVIEN]
GO
ALTER TABLE [dbo].[TB_NHANVIENPHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIENPHUCAP_PHUCAP] FOREIGN KEY([MAPHUCAP])
REFERENCES [dbo].[TB_PHUCAP] ([MAPHUCAP])
GO
ALTER TABLE [dbo].[TB_NHANVIENPHUCAP] CHECK CONSTRAINT [FK_NHANVIENPHUCAP_PHUCAP]
GO
ALTER TABLE [dbo].[TB_TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_TANGCA_LOAICA] FOREIGN KEY([MALOAICA])
REFERENCES [dbo].[TB_LOAICA] ([MALOAICA])
GO
ALTER TABLE [dbo].[TB_TANGCA] CHECK CONSTRAINT [FK_TANGCA_LOAICA]
GO
ALTER TABLE [dbo].[TB_TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_TANGCA_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TB_NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TB_TANGCA] CHECK CONSTRAINT [FK_TANGCA_NHANVIEN]
GO
ALTER TABLE [dbo].[TB_UNGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_UNGLUONG_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TB_NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TB_UNGLUONG] CHECK CONSTRAINT [FK_UNGLUONG_NHANVIEN]
GO
